<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>Express Movies</title>
		<link rel="stylesheet" href="../../public/style.css" />
	</head>
	<body>
		<% include ../partials/header %>
		
		<h1>Express Movies: le site des cinéphiles</h1>
		<div>
			Êtes-vous plutôt film ou série ? Peu importe, vous allez trouver ce qu'il vous faut.
		</div>

		<% include ../partials/footer %>
	</body>
</html>