<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>Express Movies</title>
		<link rel="stylesheet" href="../../public/style.css" />
	</head>
	<body>
        <% include ../partials/header %>
        <h1>Nouveau film</h1>
        <form method="post" action="/movies/add">
            <div>
                <div class="field_title">
                    <label>Titre du film</label>
                    <span><input type=text" name="title" value=""></span>
                </div>
                <div class="field_title">
                    <label>Année de production</label>
                    <span><input type="text" name="year" value=""></span>
                </div>
                <div class="field_title">
                    <label>Genre du film</label>
                    <span><input type="text" name="style" value=""></span>
                </div>
                <div class="field_title">
                    <label>Acteur/Actrice principal(e)</label>
                    <span><input type="text" name="actor" value=""></span>
                </div>
                <div class="field_title">
                    <input type="submit" value="Envoyer">
                </div>
            </div>
        </form>

        <% include ../partials/footer %>
	</body>
</html>