<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>Express Movies</title>
		<link rel="stylesheet" href="../../public/style.css" />
	</head>
	<body>
        <% include ../partials/header %>

        <h1>Suppression du film <strong><%= movie.title %></strong></h1>
        <form method="post" action="/movies/delete" id="form1">
            <input type="hidden" name="id" value="<%= movie.id %>">
            <input type="submit" value="Supprimer" id="delete"> | <a href="/movies">Annuler</a>
        </form>
        
        <% include ../partials/footer %>
        <script type="text/javascript">
            var form = document.getElementById("form1");
            form.addEventListener("submit", deleteMovie);
            function deleteMovie(event) {
                event.stopPropagation();
                event.preventDefault();
                if (confirm("Êtes-vous sûr(e) de vouloir supprimer ce film ?")) {
                    form.submit();
                }
            }
        </script>
	</body>
</html>