<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>Express Movies</title>
		<link rel="stylesheet" href="../../public/style.css" />
	</head>
	<body>
        <% include ../partials/header %>
        <% if (movie) { %>
            <h1>Détail du film <strong><%= movie.title %></strong></h1>
            <form method="post" action="/movies/edit/<%= movie.id %>">
                <input type="hidden" name="id" value="<%= movie.id %>">
                <div>
                    <div class="field_title">
                        <label>Titre du film</label>
                        <span><input type=text" name="title" value="<%= movie.title %>"></span>
                    </div>
                    <div class="field_title">
                        <label>Année de production</label>
                        <span><input type="text" name="year" value="<%= movie.year %>"></span>
                    </div>
                    <div class="field_title">
                        <label>Genre du film</label>
                        <span><input type="text" name="style" value="<%= movie.style %>"></span>
                    </div>
                    <div class="field_title">
                        <label>Acteur/Actrice principal(e)</label>
                        <span><input type="text" name="actor" value="<%= movie.actor %>"></span>
                    </div>
                    <div class="field_title">
                        <input type="submit" value="Envoyer">
                    </div>
                </div>
            </form>
        <% } else { %>
            <h1>Ce film est inconnu</h1>
        <% } %>

        <% include ../partials/footer %>
	</body>
</html>