<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>Express Movies</title>
		<link rel="stylesheet" href="../../public/style.css" />
	</head>
	<body>
		<% include ../partials/header %>

		<h1>Tous les films</h1>
		<div>
			<ul>
			<% for (movie of movies) { %>
				<li><a href="/movies/view/<%= movie.id %>"><%= movie.title %></a></li>
			<% } %>
			</ul>
		</div>

		<div>
			<a href="movies/add">Ajouter un film</a>
		</div>

		<% include ../partials/footer %>
	</body>
</html>