<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>Express Movies</title>
		<link rel="stylesheet" href="../../public/style.css" />
	</head>
	<body>
        <% include ../partials/header %>
        <% if (movie) { %>
            <h1>Détail du film <strong><%= movie.title %></strong></h1>
            <div>
                <div class="field_title">
                    <label>Titre du film</label>
                    <span><%= movie.title %></span>
                </div>
                <div class="field_title">
                    <label>Année de production</label>
                    <span><%= movie.year %></span>
                </div>
                <div class="field_title">
                    <label>Genre du film</label>
                    <span><%= movie.style %></span>
                </div>
                <div class="field_title">
                    <label>Acteur/Actrice principal(e)</label>
                    <span><%= movie.actor %></span>
                </div>
                <div class="field_title">
                    <a href="/movies/edit/<%= movie.id %>">Éditer ce film</a> |
                    <a href="/movies/delete/<%= movie.id %>">Supprimer ce film</a>
                </div>
            </div>
        <% } else { %>
            <h1>Ce film est inconnu</h1>
        <% } %>

        <% include ../partials/footer %>
	</body>
</html>